$mainBackgroundColor: rgba(255, 255, 255, 1) !global;
$mainBackgroundImage: image-url('bg/grunge.png', false, false) !global;

$menuWidth: 300px !global;
$menuWidth2: 80px !global;
$mobMenuHeight: 60px !global;

$bannerHeight1: 20px !global;

$boxWidth: 900px !global;
$boxWidth2: 700px !global;